.modal-back {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(50,50,50,0.5);
}
.modal-window {
  border: 3px solid gray;
  border-radius: 10px;
  width: 500px;
  height: 200px;
  background-color: aqua;
  margin: auto;
  position: relative;
  top: 40vh;
  padding: 20px;
}
