<div>
  <app-modal-window [isShow]="isShowModal" (showToggleEvent)="showModalHandler($event)">
    <app-money-change-info [moneyChangeInfo]="moneyChangeInfo"></app-money-change-info>
    <app-purchased-product [purchasedProduct]="purchasedProduct"></app-purchased-product>
  </app-modal-window>
  <div class="main-content">
    <div class="mgtop20">Баланс покупателя: <span>{{customerBalance}}</span> р.</div>
    <div class="mgtop20">
      <app-coin-panel [coins]="coins" (onCoinClick)="coinClickHandler($event)"></app-coin-panel>
    </div>
    <div class="mgtop20">
      <app-products-panel [products]="products" (onProductBuy)="productClickHandler($event)"></app-products-panel>
    </div>
    <div class="mgtop20">
      <button (click)="requestMoneyChangeClickHandler()">Запросить сдачу</button>
    </div>
  </div>
</div>
